<h3>Create a new team</h3>



	<div class="row">
		<div class="col-md-6 col-md-offset-3">

				<%= form_for @team  do |f| %>
				<div class="field form-group">
				  <%= f.label :teamName %>
				  <%= f.text_field :teamName, :class => 'form-control' %>
				</div>

				<% if instructor_signed_in? %>
				<div class="field form-group">
				  <p>liason</p>
				 <%= f.collection_select(:student_id, Student.all, :id, :email) %>
				</div>


				<% end %>

				<div class="field form-group">
				  <p>Team parameter</p>
				 <%= f.collection_select(:team_parameter_id, TeamParameter.all, :id, :courseCode) %>
				</div>



				<%= f.submit %>
				<% end %>

		</div>
	</div>
