<h3><%= @team.teamName %></h3>

<%= link_to "Join team", join_team_path, :method => :post %>

<h3>Current members(<%= @team_members.count + 1 %>)</h3>

<p>Liason: <%= @liason.email %></p>

<% @team_members.each do |member|%>

<p>Student email:<%= member.email %> <% if member.hasTeam == nil%>(pending)<% end %></p>

	<% end %>

<% if student_signed_in? %>
	<% if current_student.id == @team.student_id %>
		<h3>Pending members</h3>
			<% @pending_members.each do |pending_member|%>
				<% if current_student != @team.student_id %>
					<p><%= pending_member.email %><%= link_to "Accept", accept_team_path(pending_member), :method => :post%></p>
				<% end %>
			<% end %>
	<% end %>
<% end %>

<% if instructor_signed_in? %>

		<h3>Pending members</h3>
			<% @pending_members.each do |pending_member|%>
				<% if current_student != @team.student_id %>
					<p><%= pending_member.email %><%= link_to "Accept", accept_team_path(pending_member), :method => :post%></p>
				<% end %>
			<% end %>

<% end %>

